<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-supersonicads-mediation-applovin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-supersonicads-mediation-applovin</name>
    <description>Add support for AppLovin in supersonic ads mediation platform for a Cordova app</description>

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-plugman" version=">=4.2.0" />
    </engines>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"/>
            <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"/>
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>